[Desktop Entry]
Name=Bingle
Comment=A simple wallpaper downloader
Categories=Utility;
Exec=io.github.coslyk.bingle
Icon=io.github.coslyk.bingle
StartupWMClass=io.github.coslyk.bingle
Terminal=false
Type=Application